#animal{
    background-color: black;
    color: azure;
}
#flower{
    background-color: midnightblue;
    color: bisque;
}
#fruit{
    background-color: darkslategray;
    color: aliceblue;
}
#bird{
    background-color: darkslateblue;
    color: azure;
}