a{
    color: darkblue;
    background-color: skyblue;
}
h1{
    color: azure;
    background-color: darkslategray ;
}
h2{
    color: darkblue;
}
img{
    border: 5px solid black;
}
h3{
    color: brown;
}